# Question 2
       Ran Tian    
       University of Minnesota   
       tianran0039@gmail.com
       2016/10/29

In [1]:
# problem for solving Q2
import numpy as np
import pandas as pd

## load the data
only consider the data after 2015, i use pandas to load the data and merge them in to one csv file, at the same time, I convert the starttime and stoptime to datetime type for future use

   This is the code for merge the data from raw data

In [1]:
# import arrow as ar
# from dateutil.relativedelta import relativedelta
# import pandas as pd

# def save_monthly_data(start_time,end_time):
#     '''
#     savethe data to a csv individually
#     :param start_time:
#     :param end_month:
#     :return:
#     '''
#     start = ar.get(start_time).naive.date()
#     end = ar.get(end_time).naive.date()
#     df_total = pd.DataFrame()
#     while start <= end:
#         year , month = start.year,start.month
#         if start.month <= 9:
#             month = '0' + str(start.month)
#         file_name = 'C:\Users\\tianr_000\PycharmProjects\data_analysis\models\data_incubator_challenge\data\\' + '{0}{1}-citibike-tripdata.csv'.format(year , month)
#         df_tmp = pd.read_csv(file_name)
#         print 'there are {0} records in {1}{2}'.format(df_tmp.size,year,month)
#         df_total = pd.concat([df_total,df_tmp])
#         start += relativedelta(months=1)

#     print 'total length is {}'.format(df_total.size)
#     out_file = 'C:\Users\\tianr_000\PycharmProjects\data_analysis\models\data_incubator_challenge\data\\merge.csv'
#     df_total.to_csv(out_file)

In [2]:
# define the data path 
import os
__file__  = os.path.abspath('proposal_plot')
data_dir = __file__ + '\\..\\data'
data_path = data_dir + '\\modified_merge2.csv'
df_total = pd.read_csv(data_path)
df_total.head(5)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,0,0,1346,2015-01-01 00:01:00,2015-01-01 00:24:00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,1,1,1,363,2015-01-01 00:02:00,2015-01-01 00:08:00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,2,2,2,346,2015-01-01 00:04:00,2015-01-01 00:10:00,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,3,3,3,182,2015-01-01 00:04:00,2015-01-01 00:07:00,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,4,4,4,969,2015-01-01 00:05:00,2015-01-01 00:21:00,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [3]:
#drop the first 3 colums, gender, birth year, 
df_total.drop(df_total.columns[[0,1,2,-2,-1]], axis=1, inplace=True)
df_total.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype
0,1346,2015-01-01 00:01:00,2015-01-01 00:24:00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber
1,363,2015-01-01 00:02:00,2015-01-01 00:08:00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber

In [4]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20200618 entries, 0 to 20200617
Data columns (total 13 columns):
tripduration               int64
starttime                  object
stoptime                   object
start station id           int64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             int64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     int64
usertype                   object
dtypes: float64(4), int64(4), object(5)
memory usage: 2.0+ GB

## median of trip durationof the trip 
 6.360000e+02, approximately 10 minutes

In [5]:
df_total['tripduration'].describe()

count    2.020062e+07
mean     9.782798e+02
std      8.492241e+03
min      6.000000e+01
25%      3.880000e+02
50%      6.360000e+02
75%      1.072000e+03
max      6.707533e+06
Name: tripduration, dtype: float64

## fraction of the same location for start station and end location
    0.021271873959499654

In [6]:
index = df_total['start station name'] == df_total['end station name']

In [8]:
len(index[index  == True])  * 1.0 / len(index)

0.021271873959499654

## std of the num of bike visits
    We say a bike has visited a station if it has a ride that either started or ended at that station. Some bikes have visited many stations; others just a few. What is the standard deviation of the number of stations visited by a bike?  
         93.72912787194467

In [9]:
grouped_by_bikeid = df_total.groupby('bikeid')
res = grouped_by_bikeid.apply(lambda x:len(pd.unique(x[['start station name','end station name']].values.ravel())))

In [10]:
res.std()

93.72912787194467

## average length
What is the average length, in kilometers, of a trip? Assume trips follow great circle arcs from the start station to the end station. Ignore trips that start and end at the same station, as well as those with obviously wrong data.

    This step cost a lot of tume since we need to apply the function to each row of the df. Maybe distributed computing is faster, ~.~
    1.2982226630754707

the math function for given two points are:
    	a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)
        c = 2 ⋅ atan2( √a, √(1−a) )
        d = R ⋅ c

In [12]:
from math import radians, cos, sin, asin, sqrt
def cal_distance_for_great_circle(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    res = 6367 * c
    
    # here if the distance is greater 100, we may think it is unresonable
    if res > 100:
        return 0
    
    return res

In [13]:
len_sery = df_total.apply(lambda x:cal_distance_for_great_circle(x['start station latitude'],x['start station longitude'],
                                                                x['end station latitude'],x['end station longitude']),axis=1)

In [14]:
# check the resonability of each result
len_sery.describe()

count    2.020062e+07
mean     1.298223e+00
std      9.825651e-01
min      0.000000e+00
25%      6.006833e-01
50%      1.056721e+00
75%      1.729268e+00
max      1.125060e+01
dtype: float64

In [15]:
len_sery.mean()

1.2982226630754707

## average duration
    Calculate the average duration of trips for each month in the year. (Consider a trip to occur in the month in which it starts.) What is the difference, in seconds, between the longest and shortest average durations?   
        430.57029597000519

In [23]:
df_total.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype
0,1346,2015-01-01 00:01:00,2015-01-01 00:24:00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber
1,363,2015-01-01 00:02:00,2015-01-01 00:08:00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber

In [30]:
# add one colume to denote the year and month according to the start_time
# def get_year_month(time):
#     return time[:7]
# print get_year_month('2015-01-01 00:01:00')
year_month = df_total.starttime.apply(lambda x: x[:7])

In [31]:
# then group by the year_month
ave_duration_month = df_total.groupby(year_month).apply(lambda x:x['tripduration'].mean())
ave_duration_month.head()

starttime
2015-01     654.325583
2015-02     649.383207
2015-03     734.316673
2015-04     929.884482
2015-05    1000.233767
dtype: float64

In [35]:
ave_duration_month

starttime
2015-01     654.325583
2015-02     649.383207
2015-03     734.316673
2015-04     929.884482
2015-05    1000.233767
2015-06     904.602783
2015-07     967.670092
2015-08    1017.478667
2015-09    1050.849829
2015-10    1079.953503
2015-11     972.018670
2015-12     945.711619
2016-01     847.211931
2016-02     877.094959
2016-03    1019.789868
2016-04    1074.349986
2016-05    1052.514054
2016-06     989.758037
2016-07    1000.327859
2016-08     980.285741
2016-09     947.343280
dtype: float64

In [37]:
# calculate the max difference between longest and lowest
ave_duration_month.max() - ave_duration_month.min()

430.57029597000519

In [44]:
# this is the (max - min) for each month 
max_dif_month = df_total['tripduration'].groupby(year_month).apply(lambda x:x.max() - x.min())
max_dif_month

starttime
2015-01      42963
2015-02      42956
2015-03    1007554
2015-04    5864601
2015-05    2937642
2015-06    1691813
2015-07    5174249
2015-08    2842220
2015-09    1794429
2015-10    3139284
2015-11    2223965
2015-12    2932817
2016-01    1959956
2016-02    1811417
2016-03    2825766
2016-04    3652686
2016-05    2060507
2016-06    3129230
2016-07    6707472
2016-08    3966882
2016-09    1807371
Name: tripduration, dtype: int64

## hourly usage fraction
    Let us define the hourly usage fraction of a station to be the fraction of all rides starting at that station that leave during a specific hour. A station has surprising usage patterns if it has an hourly usage fraction for an hour significantly different from the corresponding hourly usage fraction of the system as a whole. What is the largest ratio of station hourly usage fraction to system hourly usage fraction (hence corresponding to the most "surprising" station-hour pair)?

### Exceed the time limit?
    There are two types of riders: "Customers" and "Subscribers." Customers buy a short-time pass which allows 30-minute rides. Subscribers buy yearly passes that allow 45-minute rides. What fraction of rides exceed their corresponding time limit?   
          0.037156288980861873

In [45]:
def get_exceed_bool(sery):
    if sery['usertype'] == 'Customer':
        return True if sery['tripduration'] > 1800 else False
    elif sery['usertype'] == 'Subscriber':
        return True if sery['tripduration'] > 2700 else False
    else:
        raise ValueError('No such usertype')

In [46]:
exceed_bool = df_total[['tripduration','usertype']].apply(lambda x:get_exceed_bool(x),axis=1)

In [47]:
exceed_bool.head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [49]:
len(exceed_bool[exceed_bool == True]) * 1.0 / len(exceed_bool)

0.037156288980861873

## average number of times a bike is moved
    Most of the time, a bike will begin a trip at the same station where its previous trip ended. Sometimes a bike will be moved by the program, either for maintenance or to rebalance the distribution of bikes. What is the average number of times a bike is moved during this period, as detected by seeing if it starts at a different station than where the previous ride ended?   
    234.7464145427971

In [50]:
grouped_bike = df_total.groupby('bikeid')

In [51]:
def cal_difference(df):
    '''
     compare the current start station and previous stop station, if it is different, return 1
    '''
    
    # extract the start_station and end_station
#     df.sort_values(by = 'starttime',inplace = True)
    start_station = df['start station name']
    end_station = df['end station name']
    
#     print 'size of start station is {}'.format(start_station.size)
    
    # append the element to the end station and start station so that we can peform == directly
    end_station_new = pd.Series([start_station.iloc[0]]).append(end_station)
    start_station_new = start_station.append(pd.Series([end_station.iloc[-1]]))
    tmp = end_station_new != start_station_new
    
#     print tmp[tmp].size,'\n'
    return tmp[tmp].size # count have many differences

In [52]:
bike_dif = grouped_bike.apply(lambda x:cal_difference(x))

In [53]:
bike_dif.head(10)

bikeid
14529    346
14530    321
14531    240
14532    277
14533    289
14534    361
14535    380
14536    278
14537    295
14538    308
dtype: int64

In [54]:
bike_dif.mean()

234.7464145427971